<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" appResource="Admin.Home" controller="Home" action="Overview">
    <siteMapNode SystemName="Dashboard" appResource="Admin.Dashboard" controller="Home" action="Index" IconClass="fa-desktop" />
    <siteMapNode SystemName="Catalog" appResource="Admin.Catalog" PermissionNames="ManageProducts,ManageCategories,ManageManufacturers,ManageProductReviews,ManageProductTags,ManageAttributes" IconClass="fa-book" >
      <siteMapNode SystemName="Products" appResource="Admin.Catalog.Products" PermissionNames="ManageProducts" controller="Product" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Categories" appResource="Admin.Catalog.Categories" PermissionNames="ManageCategories" controller="Category" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Manufacturers" appResource="Admin.Catalog.Manufacturers" PermissionNames="ManageManufacturers" controller="Manufacturer" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Product reviews" appResource="Admin.Catalog.ProductReviews" PermissionNames="ManageProductReviews" controller="ProductReview" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Product tags" appResource="Admin.Catalog.ProductTags" PermissionNames="ManageProductTags" controller="Product" action="ProductTags" IconClass="fa-dot-circle-o"/>      
      <siteMapNode SystemName="Attributes" appResource="Admin.Catalog.Attributes" PermissionNames="ManageAttributes" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="Product attributes" appResource="Admin.Catalog.Attributes.ProductAttributes" controller="ProductAttribute" action="List" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Specification attributes" appResource="Admin.Catalog.Attributes.SpecificationAttributes" controller="SpecificationAttribute" action="List" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Checkout attributes" appResource="Admin.Catalog.Attributes.CheckoutAttributes" controller="CheckoutAttribute" action="List" IconClass="fa-genderless"/>
      </siteMapNode>
    </siteMapNode>
    <siteMapNode SystemName="Sales" appResource="Admin.Sales" PermissionNames="ManageOrders,ManageRecurringPayments,ManageReturnRequests,ManageGiftCards,ManageCurrentCarts" IconClass="fa-shopping-cart">
      <siteMapNode SystemName="Orders" appResource="Admin.Orders" PermissionNames="ManageOrders" controller="Order" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Shipments" appResource="Admin.Orders.Shipments.List" PermissionNames="ManageOrders" controller="Order" action="ShipmentList"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Return requests" appResource="Admin.ReturnRequests" PermissionNames="ManageReturnRequests" controller="ReturnRequest" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Recurring payments" appResource="Admin.RecurringPayments" PermissionNames="ManageRecurringPayments" controller="RecurringPayment" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Gift cards" appResource="Admin.GiftCards" PermissionNames="ManageGiftCards" controller="GiftCard" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Current shopping carts and wishlists" appResource="Admin.CurrentCarts.CartsAndWishlists" PermissionNames="ManageCurrentCarts" controller="ShoppingCart" action="CurrentCarts"  IconClass="fa-dot-circle-o"/>      
    </siteMapNode>
    <siteMapNode SystemName="Users" appResource="Admin.Users" PermissionNames="ManageUsers, ManageVendors, ManageActivityLog" IconClass="fa-user" >
      <siteMapNode SystemName="Users list" appResource="Admin.Users.Users" PermissionNames="ManageUsers" controller="User" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="User roles" appResource="Admin.Users.UserRoles" PermissionNames="ManageUsers" controller="UserRole" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Online users" appResource="Admin.Users.OnlineUsers" PermissionNames="ManageUsers" controller="OnlineUser" action="List" IconClass="fa-dot-circle-o" />      
      <siteMapNode SystemName="Vendors" appResource="Admin.Vendors" PermissionNames="ManageVendors" controller="Vendor" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Activity log" appResource="Admin.Configuration.ActivityLog" PermissionNames="ManageActivityLog" controller="ActivityLog" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="GDPR log" appResource="Admin.Users.GdprLog" PermissionNames="ManageUsers" controller="User" action="GdprLog" IconClass="fa-dot-circle-o" />
    </siteMapNode>
    <siteMapNode SystemName="Promotions" appResource="Admin.Promotions" PermissionNames="ManageAffiliates, ManageNewsletterSubscribers, ManageCampaigns, ManageDiscounts" IconClass="fa-tags">
      <siteMapNode SystemName="Discounts" appResource="Admin.Promotions.Discounts" PermissionNames="ManageDiscounts" controller="Discount" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Affiliates" appResource="Admin.Affiliates" PermissionNames="ManageAffiliates" controller="Affiliate" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Newsletter subscriptions" appResource="Admin.Promotions.NewsletterSubscriptions" PermissionNames="ManageNewsletterSubscribers" controller="NewsLetterSubscription" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Campaigns" appResource="Admin.Promotions.Campaigns" PermissionNames="ManageCampaigns" controller="Campaign" action="List"  IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="Content Management" appResource="Admin.ContentManagement" PermissionNames="ManagePolls, ManageNews, ManageBlog, ManageTopics, ManageForums, ManageMessageTemplates" IconClass="fa-cubes">
      <siteMapNode SystemName="Topics" appResource="Admin.ContentManagement.Topics" PermissionNames="ManageTopics" controller="Topic" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Message templates" appResource="Admin.ContentManagement.MessageTemplates" PermissionNames="ManageMessageTemplates" controller="MessageTemplate" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="News" appResource="Admin.ContentManagement.News" PermissionNames="ManageNews" controller="News" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Blog" appResource="Admin.ContentManagement.Blog" PermissionNames="ManageBlog" controller="Blog" action="List" IconClass="fa-dot-circle-o"/>      
      <siteMapNode SystemName="Polls" appResource="Admin.ContentManagement.Polls" PermissionNames="ManagePolls" controller="Poll" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Manage forums" appResource="Admin.ContentManagement.Forums" PermissionNames="ManageForums" controller="Forum" action="List"  IconClass="fa-dot-circle-o"/>
    </siteMapNode>    
    <siteMapNode SystemName="Configuration" appResource="Admin.Configuration" PermissionNames="ManageCountries,ManageLanguages,ManageSettings,ManagePaymentMethods,ManageExternalAuthenticationMethods,ManageWidgets,ManageTaxSettings,ManageShippingSettings,ManageCurrencies,ManageACL,ManageEmailAccounts,ManagePlugins"
       IconClass="fa-gears">
      <siteMapNode SystemName="Settings" appResource="Admin.Configuration.Settings" PermissionNames="ManageSettings" IconClass="fa-dot-circle-o" >
        <siteMapNode SystemName="General settings" appResource="Admin.Configuration.Settings.GeneralCommon" controller="Setting" action="GeneralCommon" IconClass="fa-genderless"/>
        <siteMapNode SystemName="User and user settings" appResource="Admin.Configuration.Settings.UserUser" controller="Setting" action="UserUser" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Order settings" appResource="Admin.Configuration.Settings.Order" controller="Setting" action="Order" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Shipping settings" appResource="Admin.Configuration.Settings.Shipping" controller="Setting" action="Shipping" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Tax settings" appResource="Admin.Configuration.Settings.Tax" controller="Setting" action="Tax" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Catalog settings" appResource="Admin.Configuration.Settings.Catalog" controller="Setting" action="Catalog" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Shopping cart settings" appResource="Admin.Configuration.Settings.ShoppingCart" controller="Setting" action="ShoppingCart" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Reward points" appResource="Admin.Configuration.Settings.RewardPoints" controller="Setting" action="RewardPoints" IconClass="fa-genderless"/>
        <siteMapNode SystemName="GDPR settings" appResource="Admin.Configuration.Settings.Gdpr" controller="Setting" action="Gdpr" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Vendor settings" appResource="Admin.Configuration.Settings.Vendor" controller="Setting" action="Vendor" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Blog settings" appResource="Admin.Configuration.Settings.Blog" controller="Setting" action="Blog" IconClass="fa-genderless"/>
        <siteMapNode SystemName="News settings" appResource="Admin.Configuration.Settings.News" controller="Setting" action="News" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Forums settings" appResource="Admin.Configuration.Settings.Forums" controller="Setting" action="Forum" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Media settings" appResource="Admin.Configuration.Settings.Media" controller="Setting" action="Media" IconClass="fa-genderless"/>
        <siteMapNode SystemName="All settings" appResource="Admin.Configuration.Settings.AllSettings" controller="Setting" action="AllSettings" IconClass="fa-genderless"/>
      </siteMapNode>
      <siteMapNode SystemName="Email accounts" appResource="Admin.Configuration.EmailAccounts" PermissionNames="ManageEmailAccounts" controller="EmailAccount" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Stores" appResource="Admin.Configuration.Stores" PermissionNames="ManageStores" controller="Store" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Countries" appResource="Admin.Configuration.Countries" PermissionNames="ManageCountries" controller="Country" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Languages" appResource="Admin.Configuration.Languages" PermissionNames="ManageLanguages" controller="Language" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Currencies" appResource="Admin.Configuration.Currencies" PermissionNames="ManageCurrencies" controller="Currency" action="List" IconClass="fa-dot-circle-o"/>      
      <siteMapNode SystemName="PaymentMethods" appResource="Admin.Configuration.PaymentMethods" PermissionNames="ManagePaymentMethods" controller="Payment" action="PaymentMethods" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Tax" appResource="Admin.Configuration.Tax" PermissionNames="ManageTaxSettings" controller="Tax" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Shipping" appResource="Admin.Configuration.Shipping" PermissionNames="ManageShippingSettings" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="Shipping providers" appResource="Admin.Configuration.Shipping.Providers"  controller="Shipping" action="Providers" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Warehouses" appResource="Admin.Configuration.Shipping.Warehouses" controller="Shipping" action="Warehouses" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Pickup points" appResource="Admin.Configuration.Shipping.PickupPoints"  controller="Shipping" action="PickupPointProviders" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Dates and ranges" appResource="Admin.Configuration.Shipping.DatesAndRanges" controller="Shipping" action="DatesAndRanges" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Measures" appResource="Admin.Configuration.Shipping.Measures" controller="Measure" action="List"  IconClass="fa-genderless" />
      </siteMapNode>
      <siteMapNode SystemName="Access control list" appResource="Admin.Configuration.ACL" PermissionNames="ManageACL" controller="Security" action="Permissions" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Widgets" appResource="Admin.ContentManagement.Widgets" PermissionNames="ManageWidgets" controller="Widget" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="External authentication methods" appResource="Admin.Configuration.ExternalAuthenticationMethods" PermissionNames="ManageExternalAuthenticationMethods" controller="ExternalAuthentication" action="Methods" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Plugins" appResource="Admin.Configuration.Plugins" PermissionNames="ManagePlugins" controller="Plugin" action="List" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="System" appResource="Admin.System" PermissionNames="ManageSystemLog,ManageMessageQueue,ManageMaintenance,ManageScheduleTasks" IconClass="fa-cube">
      <siteMapNode SystemName="System information" appResource="Admin.System.SystemInfo" PermissionNames="ManageMaintenance" controller="Common" action="SystemInfo"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Log" appResource="Admin.System.Log" PermissionNames="ManageSystemLog" controller="Log" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Warnings" appResource="Admin.System.Warnings" PermissionNames="ManageMaintenance" controller="Common" action="Warnings"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Maintenance" appResource="Admin.System.Maintenance" PermissionNames="ManageMaintenance" controller="Common" action="Maintenance"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Queued emails" appResource="Admin.System.QueuedEmails" PermissionNames="ManageMessageQueue" controller="QueuedEmail" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Schedule tasks" appResource="Admin.System.ScheduleTasks" PermissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Search engine friendly names" appResource="Admin.System.SeNames" PermissionNames="ManageMaintenance" controller="Common" action="SeNames"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Templates" appResource="Admin.System.Templates" PermissionNames="ManageMaintenance" controller="Template" action="List" IconClass="fa-dot-circle-o"/>     
    </siteMapNode>
    <siteMapNode SystemName="Reports" appResource="Admin.Reports" PermissionNames="ManageProducts,ManageOrders,OrderCountryReport,ManageUsers" IconClass="fa-line-chart">
      <siteMapNode SystemName="Low stock" appResource="Admin.Reports.LowStock" PermissionNames="ManageProducts" controller="Report" action="LowStock" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Bestsellers" appResource="Admin.Reports.Sales.Bestsellers" PermissionNames="ManageOrders" controller="Report" action="Bestsellers" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Products never purchased" appResource="Admin.Reports.Sales.NeverSold" PermissionNames="ManageOrders" controller="Report" action="NeverSold" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Country sales" appResource="Admin.Reports.Sales.Country" PermissionNames="OrderCountryReport" controller="Report" action="CountrySales" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="User reports" appResource="Admin.Reports.Users" PermissionNames="ManageUsers" controller="Report" action="Users" IconClass="fa-dot-circle-o" />
    </siteMapNode>
    <siteMapNode SystemName="Help" appResource="Admin.Help" IconClass="fa-question-circle">
      <siteMapNode SystemName="Help topics" appResource="Admin.Help.Topics" url="http://docs.Appulu.com/dashboard.action?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=admin-panel"  IconClass="fa-dot-circle-o" OpenUrlInNewTab="true"/>
      <siteMapNode SystemName="Community forums" appResource="Admin.Help.Forums" url="https://www.Appulu.com/boards/?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=admin-panel"  IconClass="fa-dot-circle-o" OpenUrlInNewTab="true"/>
      <siteMapNode SystemName="Premium support services" appResource="Admin.Help.SupportServices" url="https://www.Appulu.com/p/541/Appulu-premium-support-services.aspx?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=admin-panel"  IconClass="fa-dot-circle-o" OpenUrlInNewTab="true"/>
    </siteMapNode>
    <siteMapNode SystemName="Third party plugins" appResource="Admin.Plugins" IconClass="fa-bars" />
  </siteMapNode>
</siteMap>

