@model UserReportsSearchModel

@inject IEventPublisher eventPublisher

@{
    //page title
    ViewBag.Title = T("Admin.Reports.Users").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("User reports");
}

<app-antiforgery-token/>

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Reports.Users")
    </h1>
    <div class="pull-right">
        &nbsp;
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.UserReportsButtons })
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <app-tabs id="user-reports">
            <app-tab asp-name="tab-ordertotal" asp-title="@T("Admin.Reports.Users.BestBy.BestByOrderTotal")" asp-default="true">@await Html.PartialAsync("_Users.BestUsersByOrderTotal", Model)</app-tab>
            <app-tab asp-name="tab-numberoforders" asp-title="@T("Admin.Reports.Users.BestBy.BestByNumberOfOrders")">@await Html.PartialAsync("_Users.BestUsersByNumberOfOrders", Model)</app-tab>
            <app-tab asp-name="tab-registeredusers" asp-title="@T("Admin.Reports.Users.RegisteredUsers")">@await Html.PartialAsync("_Users.RegisteredUsers", Model)</app-tab>
        </app-tabs>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "user-reports");
    eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}